body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.blog-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.blog-post {
    display: flex;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-image img {
    max-width: 200px;
    max-height: 150px;
    object-fit: cover;
}

.post-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post-content h2, p {
    margin: 0;
}

.post-content h2 a {
    text-decoration: none;
    color: #333;
}

.post-content h2 a:hover {
    color: #007BFF;
}
